<table>
  <tr>
    <td>
<div>
<select multiple  class="form-control" [ngModel]="selectedToAdd" multiple name="myselecttsms2" (ngModelChange)="chosenCars($event)">
  <option *ngFor="let car of cars" [ngValue]="car">{{car.name}}</option>
</select>
</div>
</td>
<td> 
  <table>
    
<tr><button (click)="addAll()">Add All</button></tr>
<tr><button (click)="add()">Add</button></tr>
<tr><button (click)="remove()">Remove</button></tr>
<tr><button (click)="removeAll()">Remove All</button></tr>
</table>
</td>
<td>
<div>

<select multiple size="" class="form-control" [ngModel]="selectedToRemove" multiple name="myselecttsms" (ngModelChange)="chosenCarsToRemove($event)">
  <option *ngFor="let car of selectedCars" [ngValue]="car">{{car.name}}</option>
</select>


</div>
</td>
</tr>
</table>

